@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins";
    background-color: rgb(255, 255, 255);
}

h1, h2 {
    font-family: "Poppins";
    color: rgb(0, 50, 0);
}

.sharp-corners, .sharp-corners * {
    border-radius: 0;
}

/* Buttons */

.custom-button {
    background-color: rgb(3, 191, 0);
    border: rgb(1, 48, 0);
}

.custom-button:hover {
    background-color: #002a0c;
    border: #00c631
}

/* About Section */

#about {
    background-color: rgb(224, 255, 226);
}

/* Projects */

#projects {
    background-color: #83e09a;
}

#projects .card-title {
    color: #004312;
    font-size: 1.2rem;
}

#projects .btn-outline-secondary:hover {
    background-color: #004312;
}

#projects .card-text {
    min-height: 120px;
}

/* Contact */

#contact {
    background-color: rgb(224, 255, 226);
}

.contact-section {
    text-align: center;
    background-color: rgb(224, 255, 226)
    padding: 0;
    border-radius: 0;
  }
  
  .icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .email-link {
    display: inline-block;
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }

/* Header */

#hero {
    background-color: #ffffff;
    background-image: url("assets/images/leone-venter-VieM9BdZKFo-unsplash.jpg");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 400px;
    padding: 5% 5%;
}

